<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\nHydrate.Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("2b12bde0-978d-4c3c-82b4-bbfe61971f7b");
#>
<#@ include file="..\Templates\GeneratedVSCT.tt" #>
