body
{
	background-color:#f0f0f0;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:normal;
	font-size:12pt;
	line-height:140%;
	color:#282C33;
}

a {
	color:#426BAD;
}

h1
{
	color:#1E5686;
	font-weight:bold;
	font-size: 24px;
	margin:10px 0 20px;
}

h2
{
	color:#1E5686;
	font-size: 20px;
	margin: 20px 0 8px 0px;
}

.container
{
	width:980px;
	text-align:left;
	border:solid 1px #c0c0c0;
	background-color:White;
	padding:10px;
}

.header
{
	background-color:#f0f0f0;
	border:solid 1px #c0c0c0;
	padding:10px;
	
}

.header-database-name
{
	font-style:italic;
	font-weight:normal;
}

.header-object-type
{
	margin-left:20px;
	font-weight:bold;
}

.footer
{
	margin:10px 0px 0px 0px;
	text-align:center;
	font-weight:bold;
	font-size:10pt;
}

.codeblock
{
	font-size:10pt;
	font-family:Courier New;
	font-weight:normal;
	border:solid 1px gray;
	background-color:#f0f0f0;
	padding:10pt;
}

table
{
	vertical-align:top;
	width:100%;
	border:solid 1px gray;
	border-spacing: 0;
	border-collapse: collapse;
	text-align:left;
}

tr
{
	vertical-align:top;
	padding:3px 10px;
}

th,td
{
	vertical-align:top;
	padding:5px 2px 2px 4px;
}

th
{
	font-weight:bold;
	background-color:#e0e0e0;
	color:#006699;
}

thead tr
{
	border-bottom:1px solid #006699;
}

.column-table
{
	font-size:10pt;
	border:solid 1px gray;
	width:100%;
	margin:0px;
	padding:0px;
}

.description
{
	font-style:italic;
}

.sql_conn
{
	color:#808080;
}

.sql_func
{
	color:#FF00FF;
}

.sql_key
{
	color:#0000FF;
}

.sql_comm
{
	color:#008000;
}

.sql_meta
{
	color:#008000;
}

.code_comm
{
	color:#638063;
}

.code_key
{
	color:#0034FF;
}

.new_object
{
	color:#2B91AF;
}

.icon-prefix
{
	margin-right:10px;
}

.t-odd-color
{
	background-color:#E8F8FF;
}
