body {
	margin: 0;
	padding: 0;
	background:white;
	font-family: "Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size: 12px;
	color: #333333;
}

html1 {height: 100%;}

h1, h2, h3 {
	margin-top: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #3B5998;
}

h1 {
	font-size: 18pt;
	font-weight:bold;
	color:#3B5998;	
}

h1 span
{
	color:black;
}

h2 {
	font-size:14pt;	
	color:black;
	font-weight:bold;	
}

h3 
{
	font-size:13pt;	
	color:#333333;
	font-weight:bold;
	margin:4px 0px 8px 0px;
	padding:0px;
}

blockquote {
	font-style: italic;
}

a {
	color:#3B5998;
	text-decoration: none;
}

a:hover {	
	text-decoration:underline;	
}

p
{
	margin:0px;
	padding:0px 0px 10px 0px;
}

form 
{	
	margin: 0;
	padding: 0;
}

fieldset 
{	
	margin: 0;
	padding: 0;
	border: none;
}

textarea
{	
	border: solid 1px #626262;
	padding-left:2px;
}

ul
{
	padding:0px;
	padding-left:20px;
}

ul li
{
	font-size:12px;
	line-height:1.5em;
}

ul.links
{	
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

ul.links a
{
	background:transparent url(/images/bullet_point_arrow.gif) no-repeat scroll left center;
	padding-left:10px;
}

ol
{
	padding:0px;
	padding-left:20px;
}

ol li
{
	padding:0px;
	margin-bottom:4px;
}

blockquote {
	margin: 0 0 0 1.5em;
	padding-left: 1em;
	border-left: 5px solid #DDDDDD;
}

img {
	border: none;
}

.linksheader
{
	border-bottom:1px solid #D7D7D7;
	font-size:10pt;
	line-height:1em;
	margin-bottom:8px;
	padding-bottom:3px;
}

/* header */

.header
{	
	border:solid 1px #3B5998;
	background-color:#3B5998;
	color:White;
	padding:0px;
	margin:0px;
}

.header h1
{
	font-size:14pt;
	font-weight:bold;
	color:White;
}

.header h1 a
{
	font-size:14pt;
	font-weight:bold;
	color:White;
}

.header h1 a:hover
{
	text-decoration:none;
}

.header h1 span
{
	font-size:14pt;
	font-weight:normal;
	color:White;
}

.headertop
{
	padding:10px 0px 0px 10px;
	font-weight:bold;
}

.headertop a
{
	font-weight:bold;
	color:White;
	margin:0px 10px 0px 6px;
	font-size:8pt;
}

.headerbottom
{
	background-color:#DFDFDF;
	padding:4px 0px 4px 0px;
	height:20px;
	line-height:20px;
	text-align:left;
}

.headerbottom a
{
	color:#444444;	
	font-weight:bold;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:1px 8px 0;
	font-size:11px;
}

.headerbottom a:hover
{
	color:black;
}

/* RSS */

#rss {
	padding: 30px 39px 20px 0;
	text-align: right;
}

#rss a {
	padding: 0 0 3px 24px;
	background: url(images/img03.gif) no-repeat;
	text-decoration: none;
	font-weight: bold;
}

#rss a:hover {
	text-decoration: underline;
}

/* Search */

#search {
	float: right;
	width: 200px;
	height: 28px;
	background: #FFFFFF url(images/img02.gif) no-repeat;
}

#search #x {
	display: none;
}

#search #s {
	padding: 6px 5px 5px 35px;
	width: 160px;
	height: auto;
	background: none;
	border: none;
	font: normal 1em Arial, Helvetica, sans-serif;
	color: #000;
}

#search br {
	display: none;
}

/* Footer */

.footerouter
{
	background-color:white;	
}

.footer
{	
	color:black;
	padding:8px 0px 20px 10px;
	text-align:left;
	font-size:10pt;
}

.footer a
{
	text-decoration:none;
	font-weight:normal;
	margin-right:10pt;
}

.footer a:hover
{
	text-decoration:none;
}

.footersitetext
{
	font-weight:bold;
}

.pageblock
{
	padding:8px;	
	background-repeat:repeat-x;
	min-height:250px;	
	padding:7px 10px 10px 10px;
	color:#545454;
	background-color:White;
}

/* CUSTOM STUFF */

.maintable
{	
	width:900px;
	text-align:left;
	margin-top:10px;	
}

.maincell
{
	border:solid 1px #CCCCCC;
	border-top:0px;	
	background-color:White;	
	padding:8px;
	min-height:300px;
}

.emptygrid
{	
	text-align:center;
	font-weight:bold;
	color:Red;
}

.gridrow
{
	background-color:white;
	vertical-align:top;
}

.gridrow a
{
	font-weight:bold;
}

.gridrowalt
{
	background-color:#EAEAEA;
	vertical-align:top;
}

.gridrowalt a
{
	font-weight:bold;
}

.detailimage
{
	float:right;
	width:250px;
	margin-right:20px;
	border:solid 1px black;
}

.detailheader
{
	font-size:12pt;
	font-weight:bold;
	margin-bottom:5px;
}

.detailcell
{	
	padding:4px;	
	margin-bottom:8px;
	overflow:hidden;
	border-bottom:solid 2px #D6D5D5;
}

.detailcell a
{
	color:#0091C2;
	font-size:10pt;
	font-weight:bold;
}

.detailcellnormal
{
	font-weight:normal;
	font-size:10pt;
}

.detailcellattention
{
	font-weight:bold;
	font-size:10pt;
}

.detailcelltitle
{
	color:#FF7700;
	font-weight:bold;
}

.detailcelltitle a
{
	color:#FF7700;
	font-weight:bold;
}

.detailcelltitle a:hover
{
	color:#FF7700;
	font-weight:bold;
	text-decoration:underline;
}

.prompt
{
	font-weight:bold;
}

.dropdownlist
{
	background-color:white;
	color:Black;
	border:solid 1px #6AA94E;
	font-weight:normal;
	font-size:10pt;
	text-align:left;	
}

/* PAGING */

.pagingcontainer
{
	text-align:left;
}

.pagingheader
{
	color:#565656;
	font-size:14pt;
	font-weight:normal;
}

.pagingtextsmall
{
	color:#565656;
	font-size:10pt;
	font-weight:normal;	
	font-weight:bold;
	vertical-align:top;
}

.pagingtextsmall h1
{
	font-size:12pt;
	font-weight:bold;
}

.pagingtexthilite a
{
	color:#6AA94E;
	font-size:10pt;
	font-weight:bold;	
	text-decoration:none;
}

.paginggotopage
{
	color:#565656;
	font-size:8pt;
	font-weight:bold;
}

.paginggotopage a
{
	color:#6AA94E;
	text-decoration:none;
}

.paginggotopageselected
{
	color:#565656;
	font-size:12pt;
	font-weight:bold;
}

.sortboxouter
{
	background:#E8EAF2;
	border:solid 1px #8A97BA;
	padding:0px 4px 0px 4px;
	margin-bottom:6px;
}

.sortbox
{
	padding:0px;
	padding:5px 0px 10px 0px;
	color:#005595;	
}

.sortbox a
{
	color:#005595;
	margin-right:10px;
	font-weight:normal;
}

.sortheader
{
	font-weight:bold;
	color:#005595;
}

.sorthilitelink
{
	font-weight:bold;
	color:#005595;
}

.map
{
	border:solid 1px #807F59;	
}

.advertverticaltextblock
{
	border:solid 2px #ED118F;
	width:180px;
	float:right;
	padding-bottom:30px;	
	margin-left:10px;
	background-color:White;
}

.advertverticaltextblock a
{
	font-weight:bold;
}

.advertverticaltext
{		
	margin-bottom:10px;
	padding-left:6px;
}

.advertverticalcontainer
{
	width:120px;
	vertical-align:top;
	margin:0px 10px 10px 0px;
}

.advertvertical
{
	background-color:gray;
	color:white;
	font-size:10pt;
	font-weight:bold;
	height:300px;
	padding:8px;
	text-align:center;
}

.results_dbox
{	
	border:solid 1px white; /* IE6 FIX */	
	background-image:url('/images/dynamic/vertcolorbar.jpg');
	background-repeat:repeat-y;
	background-position:top right;
	padding-right:14px;
}

.results_dbox_inner
{
}

.results_main
{	
	border:solid 1px white; /* IE6 FIX */
	
  padding-left:10px;  
}

.showmorebulletlist
{
	padding:0px;
	padding-left:20px;
	list-style-type:square;	
	color:#0091C2;
	margin-top:5px;
}

.showmorebulletlist li
{
	padding:0px;
	margin-bottom:6px;
}

/* DIMENSION FILTERS START */

.dimensioncontainer
{	
	background-color:#F1EAE1;
	margin-bottom:8px;	
	padding:6px 4px 4px 6px;
	border:solid 1px #CCCCCC;
}

.dimensioncontainer a
{
	color:#0050A5;
	font-size:10pt;
}

.dimensionheader
{	
	color:black;
	font-size:12pt;
	font-weight:bold;
	padding:4px;
	margin:0px;
	padding:0px;	
}

.dimensionheader a
{
	color:#545454;	
	font-size:12pt;
	font-weight:bold;
}

.dimensionheader h2
{
	color:#5c83a0;
	font-size:12pt;
	font-weight:bold;
	margin:0px;
	padding:0px;
}

.dimensionheader h4
{
	color:#545454;
	font-size:10pt;
	font-weight:bold;
	margin:0px;
	padding:0px;
}

.dimensiondata
{
	padding:4px;
	color:#7c7369;
	font-size:11px;
	line-height:1.5em;
}

.dimensiondata a
{
	margin-left:6px;
	color:#0050A5;
	font-size:12px;
	background:transparent url(/images/bullet_point_arrow.gif) no-repeat scroll left center;
	padding-left:10px;
}

/* DIMENSION FILTERS END */

/* APPLIED FILTERS START */

.appliedfiltercontainer
{	
	background-color:#FFF9D7;
	margin-bottom:8px;	
	padding:6px 4px 4px 6px;
	border:solid 1px #E2C822;
}

.appliedfiltercontainer a
{
	color:#0050A5;
	font-size:10pt;
}

.appliedfilterheader
{	
	color:black;
	font-size:12pt;
	font-weight:bold;
	padding:4px;
	margin:0px;
	padding:0px;	
}

.appliedfilterheader a
{
	color:#545454;	
	font-size:12pt;
	font-weight:bold;
}

.appliedfilterheader h2
{
	color:#5c83a0;
	font-size:12pt;
	font-weight:bold;
	margin:0px;
	padding:0px;
}

.appliedfilterheader h4
{
	color:#545454;
	font-size:10pt;
	font-weight:bold;
	margin:0px;
	padding:0px;
}

.appliedfilterdata
{
	padding:4px;
	color:#7c7369;
	font-size:11px;
	line-height:1.5em;
}

.appliedfilterdata a
{
	margin-left:6px;
	color:#0050A5;
	font-size:12px;
}

/* APPLIED FILTERS END */

.verticaltop
{
	vertical-align:top;
}

.boxed
{
	border:solid 1px #9AA15E;
	padding:4px;
	text-align:left;	
}

.boxedcolored
{	
	background-color:#f6d28b;
	padding:4px;
	text-align:left;
}

.boxedcolored2
{	
	background-color:#FFF8EC;
	border:solid 1px #BBBBBB;
	padding:4px;
	text-align:left;
}

.niftyboxedcolored{padding:0px;}
.boxedcolorednoborder
{
	background-color:#FAE5AC;
	padding:6px;
	color:black;
}
.boxedcolorednoborder a{color:black;}
.boxedcolorednoborder h2{color:black;}
.boxedcolorednoborder h3{color:black;}

.boldlink{font-weight:bold;}

/*-- START HOME --*/

.homeblock
{	
	background-image:url('/images/dynamic/dropshadow_top_repeat.jpg');
	background-repeat:repeat-x;
	min-height:250px;
	padding:7px 0px 0px 0px;
}

.hometopblock
{
	background-image:url('/images/dynamic/home.jpg');
	background-repeat:no-repeat;
	background-position:top right;	
	margin-bottom:10px;
	padding-right:260px;
	text-align:left;	
	background-color:#f1e9e0;
	width:720px;
}

.homepagetopislandleft
{
	width:280px;
	margin:0px 10px 10px 0px;
	padding:6px;
	float:left;
}

.homepagetopislandright
{
	color:#545454;
	padding:6px;
	float:left;
	width:400px;
}

.homepagetopislandright a
{
	color:#5c83a0;
}

.homepagetopislandright h1
{
	color:#9a4a4b;
	font-family:Arial;
	font-size:14pt;
	font-weight:bold;
}

.homepagetopislandright p
{	
	margin:0px;
	padding:0px;
}

.homepagetextblocks
{
	text-align:justify;
	padding:8px;
}

.homemiddleblock
{
	margin-bottom:20px;
	background-color:white;
	background-image:url('/images/dynamic/horzcolorbar.jpg');
	background-repeat:repeat-x;
	padding-top:8px;
}

.homebottomblock
{
	
}

.homebottomblock a
{
	color:#005595;
}

/* END HOME COLORED BLOCK */

.homegraphicblock
{
	margin-top:8px;	
}

.homegraphicblock h2
{
	color:#333333;
	font-size:18pt;	
	font-weight:normal;
	margin-top:6px;
}

.homegraphictext
{
	padding-right:450px;
}

.homebottomsplitleft
{
	padding-right:16px;
	background-image:url('/images/dynamic/homepage_sep_repeat.jpg');
	background-repeat:repeat-y;
	background-position:top right;
}

.homeadblock
{
	float:right;	
	width:250px;	
	margin-right:10px;
}

/*-- END HOME --*/

.truncatetext
{
	overflow:hidden;
	white-space:nowrap;
}

.linebreak
{
	color:#9AA15E;
	margin:0px 0px 6px 0px;
}

.dottedlinebreak
{
	border-bottom:dotted 1px #9AA15E;
	margin-bottom:10px;
}

.textbox
{
	border:solid 1px #BDC7D8;
	font-size:10pt;
	font-weight:normal;
	padding:1px;
	margin:0px;
}

.textbox:hover
{
	border:solid 1px #7F9DB9;
}

.button
{
	XXbackground-color:#3B5998;
	XXborder:solid 1px white;
	background-color:#67A54B;
	border:solid 1px #3B6E22;
	color:white;
	font-weight:bold;	
	margin-left:4px;
	padding:2px 4px 2px 4px;
}

.button:hover
{
	background-color:#3B6E22;
}

.grid
{
}

.grid td
{
	padding:2px 4px 2px 4px;
	border:solid 0px white;
}

.gridheader
{
	background-color:#356AA0;
	color:white;	
	vertical-align:top;
}

.gridheader a
{
	color:white;
	text-decoration:none;
}

.gridheader a:hover
{
	color:white;
	text-decoration:underline;
	white-space:nowrap;
}

.gridheader th
{
	padding:2px 6px 2px 6px;
	white-space:nowrap;
}

.gridrownormal
{
	font-size:8pt;
	border-width:0px;	
	border-style:none;
	background-color:#E3EFFC;
}

.gridrowalternate
{
	font-size:8pt;
	background-color:white;	
}

.gridcellspacer
{
	margin-bottom:4px;
}

.onelinetext
{
	XXwhite-space:nowrap;
	overflow:hidden;
}

.showtoptext
{
	vertical-align:top;
}

/* TAB CONTROL */
.tabctrl
{	
}

.tabctrl a
{	
	text-decoration:none;
}

.tabctrl a:hover
{	
	text-decoration:underline;
}

.tabctrltab
{
	display:inline;
	border:solid 1px #9AA15E;
	border-bottom:solid 1px white;
	padding:1px 10px 0px 10px;	
	position:relative;
	margin-right:8px;	
}

.tabctrltabsel
{
	background-color:#6AA94E;
	color:white;	
}

.tabctrltabsel a
{
	background-color:#6AA94E;
	color:white;	
}

.emailattention
{
	font-weight:bold;
}

.emailblock
{	
	border:solid 2px black;
	text-align:left;
	background-color:#6AA94E;
	margin:0px;
	padding:0px;
	top:100px;
	left:100px;
}

.emailtextblock
{	
	overflow:auto;
	height:375px;
	padding:0px 6px 0px 6px;
	width:488px;
	background-color:white;
}

.emailtextheader
{	
	color:white;
	font-weight:bold;
	font-size:1.2em;
	height:25px;
	padding-left:4px;
}

.emailclosebutton
{	
	float:right;
	margin-right:8px;
	margin-top:2px;
	border:solid 2px white;
	color:white;
	padding:0px 4px 0px 4px;
	font-weight:bold;	
}

.emailwindowbutton
{
	float:right;
	color:white;	
	margin-right:16px;
	margin-top:2px;
	font-weight:bold;
}

.emailwindowbutton a
{	
	color:white;
	font-weight:bold;
}

.emailgrid
{
	border:solid 1px #9AA15E;	
}

.emailgridheader
{
	background-color:#6AA94E;
	color:white;	
}

.contenticonedblock
{
	margin:16px 0px 0px 8px;
	min-height:80px;
}

.logoutlink
{	
	color:#551A8B;
}

.loginagencyblock
{
	border:solid 1px #b9cfad;
	background-color:#b9cfad;
	padding:8px;
	color:black;
}

.loginagencyblock a
{
	font-weight:bold;
	color:black;
}

.loginagencyblock h2
{
	color:black;
}

.logincandidateblock
{	
	background-color:#5c85a3;
	padding:8px;
	color:white;
}

.logincandidateblock h2
{
	color:white;
}

.logincandidateblock a
{
	color:white;
	font-weight:bold;
}

.loginfacilityblock
{	
	border:solid 1px #eb7e1f;
	background-color:#eb7e1f;
	padding:8px;
	color:black;
}

.loginfacilityblock h2
{
	color:Black;
}

.loginfacilityblock a
{
	color:Black;
	font-weight:bold;
}


.loginloginblock
{	
	border:solid 1px #9AA15E;
	padding:8px;
}

.removejobattention
{
	color:Red;
}

.removejobattention a
{
	color:Red;
}

.checklist
{
	height:150px;
	overflow:scroll;
	border:solid 1px #9AA15E;	
}

.blockelement
{
	display:block;
}

.errortext
{
	color:Red;
	font-weight:bold;
}

.handleImage
{
	width:15px;
	height:16px;
	background-image:url(images/HandleHand.png);
	overflow:hidden;
	cursor:se-resize;
}

.iwstyle
{	
	width:400px;	
	overflow:auto;
	padding:3px;
	text-align:left;
	max-height:200px;
}

.faketablespaced
{
	margin-bottom:6px;
}

.companyphoto
{
	border:solid 1px black;	
}

.buttonlink
{
	border-width:0px;
	margin:0px;
	padding:0px;
	background-color:white;
	color:#6AA94E;
}

.buttonlinksel
{
	border-width:0px;
	margin:0px;
	padding:0px;
	background-color:#6AA94E;
	color:white;
	font-weight:bold;
}

.listingemailclosebutton
{
	cursor:hand;
	float:right;
	color:black;
	font-weight:bold;
	text-decoration:underline;
	border:solid 1px white;
	padding:0px 2px 0px 2px;	
}

.biglink
{
	font-size:18pt;
}

/* ANALYTICS */
.analytics
{
	text-align:left;
}

.analytics headerbar
{
	color:white;
	font-size:14pt;
	font-weight:bold;
}

.indent
{
	margin-left:20px;
}

.xmlbold
{
	font-weight:bold;
}

.xmlrequired
{
	font-weight:bold;
	color:Red;
}

.postjobimageflyout
{
	border:solid 1px black;
	background-color:white;	
	width:700px;	
}

.postjobimageflyoutheader
{
	background-color:#6AA94E;
	color:white;
	padding:4px;
}

.postjobimageflyoutheader a
{
	color:white;
}

.postjobimageflyoutheader h2
{
	color:white;
}

.postjobimage
{	
	margin:4px;
	padding:4px;
	border:solid 1px white;
}

.postjobimage:hover
{
	background-color:#6AA94E;
	border:solid 1px black;
	margin:4px;
	padding:4px;
}

/* START TOOLBOX */

.toolbox
{	
	color:Black;	
	margin:0px;
	padding:0px;
}

.toolbox a
{
	color:Black;	
}

.toolbox a:visited
{
	color:Black;
}

.toolboxheader
{
	color:white;
	font-weight:bold;
	font-size:10pt;
	background-color:#9d4a49;
	background-image:url('/images/dynamic/toolbox_top_repeat.jpg');
	background-repeat:repeat-x;
	padding:2px 6px 0px 4px;
}

.toolboxheader h2
{
	color:white;
	font-size:12pt;
	font-weight:bold;
}

.toolboxheader a
{
	color:white;
}

.toolboxheader a:visited
{
	color:white;
}

.toolbox_inner
{
	padding:2px;
}

.toolbox_inner a
{
	background-image:url('/images/dynamic/bullet.jpg');	
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:10px;
}


/* END TOOLBOX */

.jobchooseflyout
{
	border:solid 1px black;
	background-color:white;
	width:700px;
}

.attention
{
	font-weight:bold;
}

.homeadvert250
{
	background-color:Gray;
	color:White;
	border:solid 1px #9AA15E;
	width:250px;
	height:250px;	
	text-align:center;
	font-weight:bold;
	font-size:16pt;
	margin:0px 0px 10px 10px;
	vertical-align:middle;
}

.searchbox
{
	border:solid 1px #9AA15E;	
	height:150px;
	overflow:scroll;
	margin:0px 10px 10px 0px;
	background-color:White;	
}

.searchboxouter
{	
	padding:10px;
	color: #333333;
}

.searchprompt
{
	font-weight:bold;
	margin-bottom:6px;
}

.badgeadvert1
{	
	width:100px;
	height:60px;		
	border:solid 1px #9AA15E;
	color:white;
	font-size:10pt;
	font-weight:bold;
	margin:0px 0px 10px 10px;	
	text-align:center;
	background-color:White;
}

.badgeadvert2
{	
	float:right;
	width:100px;
	height:60px;
	border:solid 1px #9AA15E;
	color:white;
	font-size:10pt;
	font-weight:bold;
	margin:0px 0px 10px 10px;	
	text-align:center;
	background-color:White;
}

.homeadvertboxed
{
	border:solid 1px #BBBBBB;	
	margin:0px 0px 10px 10px;
	background-color:White;
	width:250px;
	height:250px;
}

.processing
{
	font-size:18pt;
	font-weight:bold;
	color:Black;
}

.loginflyout
{
	background-color:white;
	border:solid 1px #3377AA;
	padding:8px;
}

.floatisland
{
	padding:8px;
	border:solid 1px #6AA94E;
	float:right;
	margin-left:10px;
}

.buttontemp
{
	border:0px;	
}

.homepageh1
{
	text-transform:lowercase;
	font-size:20pt;
	font-weight:normal;
	color:#1595D3;
	margin:10px 10px 10px 10px;	
	letter-spacing:3px;	
}

.alert
{
	text-transform:uppercase;
	color:Red;
	font-size:10pt;
	font-weight:bold;
}

.fakeheader
{
	font-size:12pt;
	font-weight: bold;
	padding:0px;
	margin:0px;
	padding-bottom:5px;
	color: #356AA0;
}

.detailcellfloat
{
	float:right;
	text-align:right;
	margin-left:10px;	
}

.detailcellfloat a
{
	color:#0091C2;
	font-size:8pt;
}

.moreinfolink a
{
	color:#005595;
	font-size:8pt;
}

.dimensionisland a
{
	font-size:9pt;
	color:#545454;
	text-decoration:underline;
}

.dimensionisland a:hover
{
	font-size:9pt;	
	color:#545454;
	text-decoration:none;
}

.toolboxflyoutheader
{
	background-color:#96A88B;
	color:white;
	padding:8px;
	font-weight:bold;	
}

.resultsblock
{
	min-height:250px;
	padding-top:5px;
	background-color:white;
}

.results_main a{ color:#005595; }
.results_main a:hover{ color:#005595; }
.results_main a:visited{ color:#005595; }

.results_specialtybox
{
	margin-top:30px;
	padding:4px;	
}

.results_specialtybox h4
{
	text-transform:lowercase;
	font-size:10pt;
	font-weight: bold;	
	font-size:larger;
}

.welcomefloater
{
	float: right; 
	width: 300px;
	border:solid 1px #6AA94E;
	margin-left:10px;
	padding:8px;
}

.headerloginlinks
{
	margin-bottom:16px;
}

.headerloginlinks a
{
	color: #005595;
	font-weight:bold;
}

.headerloginlinks a:visited
{
	color: #005595;
}

div.clearer {clear: left; line-height: 0; height: 0;}

.rssfeedflyer
{
	width:130px;
	padding:5px;
	background-color:White;
	border:solid 1px #356AA0;
	margin:10px 0px 10px 0px;
}

.rssitem
{
	background-color:White;
	border:solid 1px #356AA0;
	margin:3px 3px 6px 3px;
	padding:3px;
}

.boxedcolored
{
	background-color:#F7F7F7;
	border:solid 1px #3B5998;	
}
