<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="nHydrate.Generator.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<nHydrate.Generator.Common.Properties.Settings>
   <setting name="Widgetsphere_Generator_Common_nhydrateservice_MainService" serializeAs="String">
    <value>http://www.nhydrate.org/Webservice/MainService.asmx</value>
   </setting>
  </nHydrate.Generator.Common.Properties.Settings>
	</applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
